# Created by https://www.gitignore.io/api/linux,macos,windows,eclipse,dreamweaver,sublimetext

### Dreamweaver ###
# DW Dreamweaver added files
_notes
_compareTemp
configs/
dwsync.xml
dw_php_codehinting.config
*.mno
*._*
### Eclipse ###

.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# PyDev specific (Python IDE for Eclipse)
*.pydevproject

# CDT-specific (C/C++ Development Tooling)
.cproject

# CDT- autotools
.autotools

# Java annotation processor (APT)
.factorypath

# PDT-specific (PHP Development Tools)
.buildpath

# sbteclipse plugin
.target

# Tern plugin
.tern-project

# TeXlipse plugin
.texlipse

# STS (Spring Tool Suite)
.springBeans

# Code Recommenders
.recommenders/

# Annotation Processing
.apt_generated/

# Scala IDE specific (Scala & Java development for Eclipse)
.cache-main
.scala_dependencies
.worksheet

### Eclipse Patch ###
# Eclipse Core
.project

# JDT-specific (Eclipse Java Development Tools)
.classpath

# Annotation Processing
.apt_generated

.sts4-cache/

### Linux ###
*~

# temporary files which can be created if a process still has a handle open of a deleted file
.fuse_hidden*

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

# .nfs files are created when an open file is removed but is still being accessed
.nfs*

### macOS ###
# General
.DS_Store
/WorkSpaces/PECL-5/PECL-4_EJ_21_AccesoADatos/nbproject/private/
/WorkSpaces/PECL-5/PECL-4_EJ_21_AccesoADatos/build/
/WorkSpaces/PECL-5/PECL-4_EJ_21_AccesoADatos/dist/
/WorkSpaces/PECL-5/EJE2.1_AcesoADatos/nbproject/private/
/WorkSpaces/PECL-5/EJE2.1_AcesoADatos/build/
/WorkSpaces/PECL-5/EJE2.1_AcesoADatos/dist/
/WorkSpaces/PECL-5/Eje_2.3_sessiones/nbproject/private/
/WorkSpaces/PECL-5/Eje_2.3_sessiones/build/
/WorkSpaces/PECL-5/Eje_2.3_sessiones/dist/
/WorkSpaces/Nueva Carpeta/WebApplication1/nbproject/private/
/WorkSpaces/PECL-Final/PECL-FinalBilletes/nbproject/private/
/WorkSpaces/PECL-Final/PECL-FinalBilletes/build/
/WorkSpaces/PECL-Final/PECL-FinalBilletes/dist/