body {
	background-image: url('../img/background.jpg');
	background-size: 1024;
}

#encabezado-1 {
	background-color:  #76d7c4;
	height: 250px;
	text-align: center;
	border:2px solid #2eb9ce;
	border-width: 2px;
	border-style: solid;
	border-color: #2eb9ce;
	border-radius:50px;
	-moz-border-radius:50px;
	-webkit-border-radius:50px;
}

#information
{
	word-spacing: inherit;
}

#listado
{
	width:200px;
	
}

#listado li
{
	background-color:white;
	width:40%;
	list-style: none;
	padding-bottom: 15px;
}

#listado li a
{
	text-decoration: none;
	color:green;
}

#listado li a:hover
{
	color:#FF00EC;
}

