body {
	background-image: url('../img/background.jpg');
	background-size: 1024;
}

#encabezado-1 {
	background-color:  #76d7c4;
	height: 250px;
	text-align: center;
	border:2px solid #2eb9ce;
	border-width: 2px;
	border-style: solid;
	border-color: #2eb9ce;
	border-radius:50px;
	-moz-border-radius:50px;
	-webkit-border-radius:50px;
}

#information
{
	word-spacing: inherit;
}

#cuerpo {
	position: center;
	align-content: center;
	width: 96%;
	padding: 15px;
	margin: 10px;
}

#menu_izda {
	width: 18%;
	background-color: #fff;
	float: left;
	margin-left: 15px;
	border-style: solid;
	border-color: #2eb9ce;
	border-radius:50px;
	-moz-border-radius:50px;
	-webkit-border-radius:50px;
}

#menu_dech {
	min-height: 220px;
	padding: 15px;
	width: 78%;
	background-color: #fff;
	float: right;
	border-style: solid;
	border-color: #2eb9ce;
	border-radius: 50px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	padding-left: 10px;
}

#sig {
	margin: 12px;
	float:  right;
}

#home {
	margin-top: 25px;
	padding-left: 40%;
}

 #home a {
 	padding-top: 15px;
 }

#ant {
	float: left;
	margin: 12px;
}

#listado {
	width:200px;
}

#nav {
	margin-top: 15px;
	width: 79%;
	height: 50px;
	background-color: #fff;
	float: right;
	border-style: solid;
	border-color: #2eb9ce;
	border-radius: 50px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	position: relative;
}

#listado li {
	list-style: none;
	padding-bottom: 15px;
}

a {
	text-decoration: none;
	color:green;
	align-text:center;
}

a:hover {
	color:#FF00EC;
}

#map {
	height: 400px;  /* The height is 400 pixels */
	margin: 20px;
	width: 70%;  /* The width is the width of the web page */
}

#dec-text, #log-box {
	min-height: 20px;
	margin: 10px;
	padding: 15px;
	background-color: #f8f9f9;
	border-style: solid;
	border-color: #ccc;
	border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
}


#dec-text {
	width: 60%;
	float: left;
}

#log-box {
	width: 32%;
	float: right;
}

select, input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    -moz-border-radius: 20px;
	-webkit-border-radius: 20px;

}

button {
    background-color: #FF00EC;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    -moz-border-radius: 20px;
	-webkit-border-radius: 20px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
    border-radius: 20px;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
    border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
}

textarea {
	border: 3px solid #f1f1f1;
	width: 100%;
	min-height: 200px;
}

#formulario
{
	padding: 20px;
	width:30%;
	margin:auto;
	border: 2px solid black;
	border-radius: 20px;
}

#botonFormulario
{
	margin-bottom:20px;
}

#filtros
{
	width:100%;
	margin:auto;
}

#shoppingFilter
{
	height: 30px;
	width: 25%;
	float:right;
}

#filter
{
	height: 30px;
	width:25%;
	float:right;
}

#tablaShopping
{
	width:100%;
	margin-top:100px;
}

#contactanosTag
{
	margin-top:10px;
	text-align:center;
}