
#m-box {
  	float: left;
  	width: 74.5%;
  	color: #fff;
	font-family: cursive;
	font-weight: bold;
}

#box-menu {
	background-color: #1c1c20;
	margin: 25px;
	margin-bottom: 50px;
	height: 300px;
	border: 1px solid #16877A;
	border-radius: 80px 50px 200px 50px;
    -moz-border-radius: 80px 50px 200px 50px;
    -webkit-border-radius: 80px 50px 200px 50px;
}

.caratula, #drop {
	float: left;
	height: 250px;
	width: 180px;
	border: 1px solid #16877A;
    border-radius: 80px 50px 200px 50px;
    -moz-border-radius: 80px 50px 200px 50px;
    -webkit-border-radius: 80px 50px 200px 50px;
    background-color: #424242;
    cursor: move;
}

#drop, .caratula img {
	height: 300px
	margin-right: 5px;
}

/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 40%;
    margin-top: -25px;
    height: 200px;
}

.row:after {
	column-count: 2;
    content: "";
    display: table;
    clear: both;
    margin-left: 150px;
}

#box-menu > h1 {
	text-align: center;
	margin-left: 50px;
	margin-top: -2px;
	border-bottom: 1px solid #16877A;
}

#box-menu > input[type=text] {
	text-align: center;
	font-weight: bold;
}

#box-menu > #precio {
	float: right;
	margin-top: -15px;
	text-align: center;
}

 #postres {
 	float: left;
 	height: 20px;
 }

 #box-menu p.tag {
 	margin: 15px;
 	float: left;
 	margin: 5px;
 	padding: 2px;
 	/*border: 1px solid #16877A;
 	background-color: #16877A;
 	font-weight: bold;
 	font-family: fantasy;
    border-radius: 80px 50px 100px 50px;
    -moz-border-radius: 80px 50px 100px 50px;
    -webkit-border-radius: 80px 50px 100px 50px;*/
 }

 #drag-box {
	float: right;
	width: 24%;
	min-height: 600px;
	border: 2px solid #16877A;
	border-radius: 180px 7px 180px 8px;
	-moz-border-radius: 180px 7px 180px 8px;
	-webkit-border-radius: 180px 7px 180px 8px;
	background-color: #1c1c20;
	color: #fff;
	font-family: cursive;
	font-weight: bold;
}

#drag-box img {
	height: 65%;
	width: 65%;
}

#drag {
	margin: 10px;
	height: 200px;
	overflow-x: auto;
    border: 1px solid #16877A;
	border-radius: 20px 7px 80px 8px;
	-moz-border-radius: 20px 7px 80px 8px;
	-webkit-border-radius: 20px 7px 80px 8px;
	background-color: #2b2a2b;
}

#drag img {
	margin: 10px;
	height: 175px;
	width: 115px;
	cursor: move;
}

