<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Calculo_Ganancia</servlet-name>
        <servlet-class>Calculo_Ganancia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Insertar_Circuito</servlet-name>
        <servlet-class>Insertar_Circuito</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Insertar_Coche</servlet-name>
        <servlet-class>Insertar_Coche</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Calculo_Ganancia</servlet-name>
        <url-pattern>/Calculo_Ganancia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Insertar_Circuito</servlet-name>
        <url-pattern>/Insertar_Circuito</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Insertar_Coche</servlet-name>
        <url-pattern>/Insertar_Coche</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
